/* Navigation Bar */
.navbar {
  padding: 0% 5%;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: Roboto Slab;
}

.main-icon {
  color: #00FFF6;
}

.main-heading {
  color: #111;
  padding: 4.5% 5% 0.5%;
  font-size: 1.8rem;
  background-color: #FAF8F1;
}

.todo-list {
  padding: 3.5% 5%;
}

.entry {
  border: hidden;
  width: 100%;
  outline: none;
  font-size: 2rem;
}

.sub-icon {
  color: #111;
  margin-top: 0;
  margin-bottom: 0;
}


.all-list {
  padding: 6% 6%;
}

.list-item {
  padding: 1.5% 4%;
}

@media screen and (max-width: 1030px) {
  .main-heading {
    padding: 9% 5% 1%;
  }

  .all-list {
    padding: 10% 7%;
  }

  .list-item {
    padding: 2% 6%;
  }
}
